body {
    font-size: 14px;
    /* margin-top: 80px !important; */
}

.sidebar {
    position: relative;
}

#navbar-side {
    position: fixed;
}

.intro-section {
    padding: 20px 10px;
    background-color: orangered;
    color: #fff;
}

h4 {
    border-left: 3px solid orangered;
    padding-left: 10px;
    margin: 15px 0;
}

.item-section {
    margin: 40px 0;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 0 15px;
}